/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";f
  padding-right: 0.3em;
}

table,
td {
 border-collapse: collapse;
 border: 1px solid black;
}

th {
  text-align: left;
  border-right: 1px solid black;
}

th:last-of-type {
  border-right: none;
}

th, 
td {
  padding: 5px 10px;
}
